<configuration scan="true" scanPeriod="15 seconds">

	<property name="TraceIdLoc" value="${TraceIdLoc:-TraceIdLoc}" />
	<property name="X_Trace_Id" value="${X_Trace_Id:-X-TraceWise-Id}" />
	<property name="LOG_DIR"
		value="${LOG_DIR:-/apps/tracewise/logs}" />
	<property name="APP_NAME" value="${APP_NAME:-tracewise}" />
	<property name="ROLLING_FILE_NAME" value="tracewise.%d{yyyy-MM-dd}.log" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [${TraceIdLoc}::${APP_NAME:-},%class,%method,%X{${X_Trace_Id}:-},%X{spanId:-}::${TraceIdLoc}] - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/tracewise.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [${TraceIdLoc}::${APP_NAME:-},%class,%method,%X{${X_Trace_Id}:-},%X{spanId:-}::${TraceIdLoc}] - %msg%n</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${ROLLING_FILE_NAME}</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>1</maxHistory>
		</rollingPolicy>
	</appender>


	<logger name="io.micrometer.tracing" level="INFO" />

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
